<!--
  ==========================================================
  Title: about.component.html
  Author: Ace Baugh
  Date: February 23, 2023
  Description: This is the about component.
  ==========================================================
-->

<div class="container">
  <h2>About LOAN_APP</h2>
<div class="row">
    <div class="col">
      <p>
        Loan_App is a financial technology company that was founded in the late 1990s by a group of Ravenclaw graduates from Hogwarts School of Witchcraft and Wizardry. The founders of Loan_App were always fascinated by the intersection of magic and technology, and they sought to use their knowledge of both to create a new kind of lending service that could better serve the wizarding community.
      </p>
      <p>
        At first, Loan_App struggled to gain traction in a world where traditional banking was still the norm. However, the founders of Loan_App were undeterred, and they continued to work tirelessly to refine their product and expand their customer base.
      </p>
      <p>
        As their business grew, Loan_App began to develop a reputation as a reliable and innovative lender. They were among the first to offer online lending services, and they used their knowledge of magic to create a lending system that was both efficient and secure.
      </p>
      <p>
        In the years that followed, Loan_App continued to grow and innovate, and they became one of the most successful financial technology companies in the wizarding world. They expanded their services to include everything from personal loans to small business financing, and they were known for their fair and transparent lending practices.
      </p>
      <p>
        Throughout their success, Loan_App never forgot their roots in Ravenclaw. They continued to recruit talented graduates from Hogwarts, and they fostered a culture of creativity and innovation that reflected the Ravenclaw values of intelligence, curiosity, and a thirst for knowledge.
      </p>
      <p>
        Today, Loan_App is a well-respected and successful company that is known throughout the wizarding world for its innovative products and services. They remain committed to their founding values, and they continue to seek out new ways to use magic and technology to improve the lives of their customers.
      </p>
      <p>
        In the end, Loan_App is a shining example of the power of Ravenclaw values. Through their intelligence, creativity, and curiosity, the founders of Loan_App were able to create a business that has had a profound impact on the wizarding world. They serve as an inspiration to future generations of Ravenclaws, and their legacy will continue to live on for years to come.
      </p>
    </div>
    <div class="col">
      <img class="about-logo" src="./assets/loan-app-logo.png" alt="logo" height="300" />
    </div>
  </div>
</div>
