<!--
  ==========================================================
  Title: base-layout.component.html
  Author: Ace Baugh
  Date: February 23, 2023
  Description: This is the base-layout component.
  ==========================================================
-->

<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <!-- Logo -->
    <div class="logo">
      <img src="./assets/loan-app-logo.png" alt="logo" height="80" />
    </div>

    <!-- Navigation Links -->
    <div>
      <div fxLayout="row wrap">
        <button mat-button routerLink="/">Home</button>
        <button mat-button routerLink="/about">About</button>
        <button mat-button routerLink="/contact">Contact Us</button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<br />

<!-- Main Content -->
<div class="row">
  <mat-card class="main-container">
    <mat-card-title class="blue">
      <h1>{{ assignment }}</h1>
    </mat-card-title>
    <mat-card-content>
      <!-- Router Outlet -->
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
