<!--
  ==========================================================
  Title: home.component.html
  Author: Ace Baugh
  Date: February 23, 2023
  Description: This is the home component. This component is where
  the user will enter the loan information and the monthly payment
  and interest paid will be displayed.
  ==========================================================
-->

<!-- Output Area -->
<div class="row">
  <div class="col w50">
    <h2>Monthly Payment</h2>
    <h2 class="loanTxt">
      <app-monthly-payment
        [monthlyPayment]="monthlyPayment"
      ></app-monthly-payment>
    </h2>
  </div>
  <div class="col w50">
    <h2>Interest Paid</h2>
    <h2 class="loanTxt">
      <app-interest-paid [totalInterest]="totalInterest"></app-interest-paid>
    </h2>
  </div>
</div>

<!-- Input Area -->
<div class="row">
  <form fxLayout="column" [formGroup]="loanForm" fxFlex>
    <mat-form-field fxFlex appearance="fill" class="form-field">
      <mat-label>Loan Amount</mat-label>
      <input
        type="number"
        name="principal"
        id="principal"
        matInput
        formControlName="principal"
        placeholder="100,000"
        step="0.01"
        autocomplete="off"
      />
      <mat-hint
        align="end"
        *ngIf="
          loanForm.controls['principal'].errors &&
          loanForm.controls['principal'].touched
        "
        class="warn"
      >
        Please provide a valid loan amount.
      </mat-hint>
    </mat-form-field>

    <mat-form-field fxFlex appearance="fill" class="form-field">
      <mat-label>Interest Rate</mat-label>
      <input
        type="number"
        name="interestRate"
        id="interestRate"
        matInput
        formControlName="interestRate"
        placeholder="5.5"
        step="0.01"
        autocomplete="off"
      />
      <mat-hint
        align="end"
        *ngIf="
          loanForm.controls['interestRate'].errors &&
          loanForm.controls['interestRate'].touched
        "
        class="warn"
      >
        Please provide a valid interest rate.
      </mat-hint>
    </mat-form-field>

    <mat-form-field fxFlex appearance="fill" class="form-field">
      <mat-label>Number of Years</mat-label>
      <input
        type="number"
        name="years"
        id="years"
        matInput
        formControlName="years"
        placeholder="30"
        autocomplete="off"
      />
      <mat-hint
        align="end"
        *ngIf="
          loanForm.controls['years'].errors &&
          loanForm.controls['years'].touched
        "
        class="warn"
      >
        Please provide a valid number of years 1-100.
      </mat-hint>
    </mat-form-field>
    <div class="center">
      <button
        class="calculate"
        [disabled]="!loanForm.valid"
        (click)="calculateLoan()"
      >
        Calculate
      </button>
    </div>
  </form>
</div>
